@import "tailwindcss";
@import "flowbite/src/themes/default";


@font-face {
  font-family: 'Formula';
  src: url('/fonts/Formula1-Regular_web_0.woff2') format('woff2'),
       url('/fonts/Formula1-Regular_web_0.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FormulaB';
  src: url('/fonts/Formula1-Bold_web_0.woff2') format('woff2'),
       url('/fonts/Formula1-Bold_web_0.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.Header h1 {
    font-family: Formula , sans-serif;
    font-size: 2.5rem; 
    font-weight: 300; 
    float: left;
    margin-left: 5px;
    transition: transform 0.15s ease-in-out, text-shadow 0.05s ease-in;
    color:aliceblue;
  }
  .Header h1:hover
  {
  transform: translateY(-1px);
  text-shadow: 3px 3px 6px hsla(0, 0%, 74%, 0.466);
  cursor:pointer;
  }

  .Header{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid white;
    background: linear-gradient(to right, hsl(0, 100%, 27%), hsl(0, 95%, 43%));
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    text-align: center;

  }

  html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  
  main {
    flex: 1; 
  }
  
  .Footer {
    margin-top: 90%; /* Pushes the footer to the bottom */
    font-family: Formula , sans-serif;
  }
  

