@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@font-face {
  font-family: 'Formula';
  src: url('/fonts/Formula1-Regular_web_0.woff2') format('woff2'),
       url('/fonts/Formula1-Regular_web_0.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FormulaB';
  src: url('/fonts/Formula1-Bold_web_0.woff2') format('woff2'),
       url('/fonts/Formula1-Bold_web_0.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.Header h1 {
    font-family: Formula , Helvetica, sans-serif;
    font-size: 2.5rem; 
    font-weight: 300; 
    float: left;
    margin-left: 5px;
    transition: transform 0.35s ease-in-out, text-shadow 0.05s ease-in;
    color:aliceblue;
  }
  .Header h1:hover
  {
  text-shadow: 3px 3px 6px hsla(0, 0%, 74%, 0.466);
  cursor:pointer;
  }

  .Header{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid white;
    background: linear-gradient(to right, #8B0000, #FF0000);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    text-align: center;

  }

