@import "tailwindcss";
@import "flowbite/src/themes/default";

/* Fonts */
@font-face {
  font-family: "Formula";
  src: url("/fonts/Formula1-Regular_web_0.woff2") format("woff2"),
    url("/fonts/Formula1-Regular_web_0.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* test */
@font-face {
  font-family: "FormulaB";
  src: url("/fonts/Formula1-Bold_web_0.woff2") format("woff2"),
    url("/fonts/Formula1-Bold_web_0.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/* Header */
.Header {
  position: sticky;
  top: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid white;
  background: linear-gradient(to right, hsl(0, 100%, 27%), hsl(0, 95%, 43%));
  color: white;
  font-family: "Formula", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}

.Header h1 {
  font-family: Formula, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 5px;
  transition: transform 0.15s ease-in-out, text-shadow 0.05s ease-in;
  color: #f1f1f1;
}

.Header h1:hover {
  transform: translateY(-1px);
  text-shadow: 3px 3px 6px hsla(0, 0%, 74%, 0.466);
  cursor: pointer;
}

/* Layout */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1;
}
.Animated {
  transition: 0.3s ease-out;
}
.Animated:hover {
  transition: 0.35s ease-out;
  transform: scale(1.05);
  overflow: hidden;
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: Formula, sans-serif;
}

/* Disclaimer Block */
.Disclaimer {
  object-position: center;
  margin-left: 20px;
  margin-right: 20px;
}

/* Flexbox Container */
.Cage {
  padding-bottom: 200px;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap; /* This is key - allows items to wrap to new rows */
  gap: 20px;
  justify-content: center; /* Centers the cards horizontally */
  max-width: 1200px; /* Controls the overall container width */
  margin: 0 auto; /* Centers the container on the page */
  padding-left: 30px;
  padding-right: 30px;
}
.Card2,
.Card3 {
  margin-bottom: 50px;
}

/* Media Queries for Responsiveness */
/* Media Query for smaller screen sizes */
@media (max-width: 400px) {
  .Header h1 {
    font-size: 1.3rem; /* Set smaller font size */
  }
}

@media (max-width: 1024px) {
  .Card2,
  .Card3 {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

/* For very small screens like phones (including iPhone SE and others) */
@media (max-width: 767px) {
  .Cage {
    flex-direction: column;
    align-items: center; /* Ensures cards are centered */
  }

  .Card2,
  .Card3 {
    flex: 0 0 100%; /* Forces cards to take 100% of the width */
    max-width: 100%;
    width: 100%;
  }
}
