---
import Header from "../components/Header.astro";
---
<html>
  <head>
    <title>Formula Blog</title>
  </head>
  <body>
    <container>
    <Header />
    </container>
    <main>
      <p>Welcome to Formula Blog!</p>
    </main>
  </body>
</html>
