---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Card3 from "../components/Card3.astro";
import Cage from "../components/Cage.astro";
import Search from "../components/searchbar.astro";
---

<html>
  <head>
    <link rel="icon" type="image/svg+xml" href="../public/f1.svg" />
    <title>OnBoard - Formula 1</title>
  </head>
  <body>
    <container>
      <Header />
      <div class="middleground">
        <main>
          <Cage>
            <Card3
            picture="/images/51g.jpg"
            alt="Verstappen's 51g crash at Silverstone"
            name="What caused Verstappen's 51g crash?"
            desc="Deep dive into the accident"
            btn="Read more"
          />
          <Card3 />
          <Card3 />
          </Cage>
        </main>
        <Footer />
      </div>
    </container>
  </body>
</html>
