---
import "../styles/global.css";
---
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<footer class="Footer bg-gray-100 shadow-sm fixed bottom-0 w-full py-4">
  <div class="w-full mx-auto max-w-screen-xl px-4 sm:flex sm:items-center sm:justify-between">
    
    <!-- Copyright & Name -->
    <span class="text-sm text-gray-600 text-center sm:text-left">
      &copy; {new Date().getFullYear()}  
      <a href="https://github.com/00chestnut/" class="hover:underline font-medium" target="_blank">
        00chestnut
      </a>. All Rights Reserved.
    </span>

    <!-- Footer Links and Pages -->
    <ul class="flex flex-wrap justify-center sm:justify-end gap-x-6 gap-y-2 mt-3 sm:mt-0 text-sm font-medium text-gray-600">
      <li><a href="/footerpages/about" class="hover:underline mb-3 sm:mb-0">About</a></li>
      <li><a href="/footerpages/privacy" class="hover:underline mb-3 sm:mb-0">Privacy Policy</a></li>
      <li><a href="/footerpages/license" class="hover:underline mb-3 sm:mb-0">Licensing</a></li>
      <li><a href="/footerpages/contact" class="hover:underline mb-3 sm:mb-0">Contact</a></li>
    </ul>

  </div>
</footer>
