---
import "../styles/global.css";
---
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<footer
  class="Footer bg-gray-100 rounded-[5px] shadow-sm z-99 fixed bottom-0 w-full h-[70px]"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >&copy;{new Date().getFullYear()}
      <a
        href="https://github.com/00chestnut/"
        class="hover:underline me-4 md:me-0"
        target="_blank">00chestnut</a
      >. All Rights Reserved.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-5 pb-2"
    >
      <li>
        <a
          href="/footerpages/about"
          class="hover:underline me-4 md:me-6 mb-[5px]">About</a
        >
      </li>
      <li>
        <a
          href="/footerpages/privacy"
          class="hover:underline me-4 md:me-6 mb-[5px]">Privacy Policy</a
        >
      </li>
      <li>
        <a
          href="/footerpages/license"
          class="hover:underline me-4 md:me-6 mb-[5px]">Licensing</a
        >
      </li>
      <li>
        <a href="/footerpages/contact" class="mb-[5px] hover:underline"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</footer>


<style> <!-- stuff -->
  div{
    margin-bottom: 5px;
    padding: 5px;
  }
</style>