---
import "../styles/global.css";
---

<header class="Header bg-red-800 top-0 w-full z-50 h-[60px] flex items-center">
  <h1><a href="/">OnBoard - Formula1</a></h1>
</header>
<!-- test -->
<style>
   @media (max-width: 400px) {
    .Header {
      font-size: 1.5rem;
    }
  }
</style>