---
import "../../styles/global.css";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Disclaimer from "../../components/Disclaimer.astro";
---

<html>
  <head>
    <link rel="icon" type="image/svg+xml" href="../public/sf25.svg" />
    <title>OnBoard - Formula 1</title>
  </head>
  <body>
    <container>
      <Header />
      <main>
        <div class="cage">
          <Disclaimer
            class="Disclaimer"
            title="About us"
            content="OnBoard - Formula 1 is a fan-powered hub dedicated to the world's fastest motorsport, diving deep into the 2025 F1 season while keeping an eye on the sport's rich history and ever-evolving future. From intense title fights and next-gen tech innovations to off-track controversies and team dynamics, we break it all down with passion and precision. This site isn't affiliated with Formula 1, its teams, or sponsors - it's just raw, unfiltered enthusiasm from fans who eat, sleep, and breathe racing. Whether you're here for the latest updates, in-depth analysis, or just to fuel your love for F1, welcome to the grid."
          />
        </div>
        <Footer />
      </main>
    </container>
  </body>
</html>
