---
import "../../styles/global.css";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Disclaimer from "../../components/Disclaimer.astro";
---

<html>
  <head>
    <html lang="en">
    <link rel="icon" type="image/svg+xml" href:"/sf25.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta name="description" content="A blog about Formula 1.">
    <meta name="keywords" content="Formula 1, Blog, F1, OnBoard">
    <meta name="author" content="00chestnut">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="OnBoard - Formula1">
    <meta property="og:description" content="A blog about Formula 1.">
    <title>OnBoard - Formula 1</title>
  </head>
  <body>
    <container>
      <Header />
      <main>
        <br>
        <br>
        <marquee>🚗</marquee>
        <div class="Cage">
          <Disclaimer class="Disclaimer"
            title="Contact information"
            content='GitHub: <a href="https://github.com/00chestnut" class="hover:underline me-4 md:me-6" target="_blank" >00chestnut</a><br/>Email: 00chestnutt@gmail.com <br/><br/><img class="w-[15rem] h-[15rem]" alt="image of a shark programming (00chestnut)" src="/images/shark.png">'
          />
        </div>
      </main>
    </container>
    <Footer />
  </body>
</html>